<mat-card>
  <mat-card-content>
    <div class="row" *ngIf="courseList && courseList.length > 0">
      <div class="col-4">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'selectExamStatus' | translate }}</mat-label>
          <mat-select [(ngModel)]="criteria.examStatus" (ngModelChange)="onExamStatusChange($event)">
            <mat-option [value]="null">{{ 'none' | translate }}</mat-option> <!-- Option for selecting all statuses -->
            <mat-option *ngFor="let status of examStatuses" [value]="status.value">
              {{ status.label | translate }}
            </mat-option>


          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'selectCourse' | translate }}</mat-label>
          <mat-select [(ngModel)]="criteria.courseId" (ngModelChange)="onCourseChange($event)">
            <mat-option [value]="null">{{ 'none' | translate }}</mat-option>
            <mat-option *ngFor="let option of courseList" [value]="option.id">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4" *ngIf="unitList && unitList.length > 0">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'selectUnit' | translate }}</mat-label>
          <mat-select [(ngModel)]="criteria.unitId" (ngModelChange)="onUnitChange($event)">
            <mat-option [value]="null">{{ 'none' | translate }}</mat-option>
            <mat-option *ngFor="let option of unitList" [value]="option.id">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <!-- Container for centering the search button -->
    <div class="center-buttons">
      <button mat-button color="accent" class="styled-button-search" (click)="search()">
        <span style="font-weight: bold;">{{ 'search' | translate }}</span>
      </button>
    </div>


  </mat-card-actions>
</mat-card>
<div *ngIf="exams && exams.length > 0; else noExams">
  <div class="row">
    <div class="col-lg-4 col-12 mx-auto exam-card-container" *ngFor="let exam of exams">
      <mat-card class="exam-card">
        <mat-card-title class="card-main-title">
          {{ exam.unitName }}
        </mat-card-title>

        <!-- Conditionally show exam details if they exist -->
        <mat-card-subtitle *ngIf="exam.startedAt">
          {{ 'startedAt' | translate }}: {{ exam.startedAt | utcToLocal }}
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="exam.completedAt">
          {{ 'completedAt' | translate }}: {{ exam.completedAt | utcToLocal }}
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="exam.score !== null">
          {{ 'score' | translate }}: {{ exam.score }}
        </mat-card-subtitle>

        <!-- Conditional buttons based on exam state -->
        <div *ngIf="exam.startedAt == null && exam.score == null">
          <button mat-button color="primary" class="styled-button" (click)="navigateToSession(exam.id)">
            <span>{{ 'start' | translate }}</span>
          </button>
        </div>
        <div *ngIf="exam.startedAt !== null && exam.score == null">
          <button mat-button color="accent" class="styled-button" (click)="navigateToSession(exam.id)">
            <span>{{ 'continue' | translate }}</span>
          </button>
        </div>
        <div *ngIf="exam.score !== null">
          <button mat-button color="accent" class="styled-button" (click)="viewExamDetails(exam.id)">
            <span>{{ 'details' | translate }}</span>
          </button>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- Pagination -->
  <mat-paginator [length]="totalCount"
                 [pageSize]="criteria.pageSize"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>

<!-- No Exams Found -->
<ng-template #noExams>
  <p>{{ 'noExamsCreated' | translate }}</p>
</ng-template>
