.exam-card-container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Card design */
.exam-card {
  width: 320px;
  height: auto; 
  min-height: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for cards */
.exam-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* Title styling */
.card-main-title {
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Subtitle styling */
.mat-card-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

/* Button styling */
.styled-button {
  margin: 10px 0;
  border: 2px solid #3490a8;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: transparent;
  color: #3490a8;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  text-align: center;
}


/* Centering buttons */
.center-buttons {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

/* Search button styling */
.styled-button-search {
  margin: 5px 0;
  border: 2px solid #3490a8;
  border-radius: 4px;
  padding: 10px ;
  background-color: transparent;
  color: #3490a8;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
  width: 20%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Hover effect for search button */
.styled-button-search:hover {
  background-color: #3490a8;
  color: white;
}

/* Focus effect for search button */
.styled-button-search:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(76, 199, 219, 0.5);
}


/* Button hover effect */
.styled-button:hover {
  background-color: #3490a8;
  color: white;
}

/* Focus effect for buttons */
.styled-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(76, 199, 219, 0.5);
}

/* Centering buttons */
.center-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .exam-card {
    width: 100%; 
    margin-bottom: 20px;
  }

  .styled-button {
    padding: 12px;
    font-size: 16px;
  }

  .card-main-title {
    font-size: 16px; 
  }

  .mat-card-subtitle {
    font-size: 12px; 
  }
}
