<div class="container">
  <div class="header">
    <h1 class="title">{{'availablecourses' | translate}}</h1>
    <p class="subtitle">{{'subtitle' | translate}}</p>
  </div>
  <!--<div class="search-container">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search Courses</mat-label>
      <input matInput
             [(ngModel)]="searchText"
             (input)="onSearch()"
             placeholder="Enter course name" />
    </mat-form-field>
  </div>-->
  <div class="search-container">
    <mat-card class="search-card">
      <mat-card-content>
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>{{ 'searchCourses' | translate }}</mat-label>
          <input matInput
                 [(ngModel)]="searchText"
                 (input)="onSearch()"
                 placeholder="{{ 'enterCourseName' | translate }}" />
          <button mat-icon-button matSuffix (click)="clearSearch()" *ngIf="searchText">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="courses-wrapper">
    <div class="course-card" *ngFor="let course of courses">
      <div class="card-header" [class.favorite]="course.isFavorite">
        <mat-icon class="favorite-icon" *ngIf="course.isFavorite">star</mat-icon>
      </div>

      <div class="card-content">
        <h3 class="course-title">{{ course.title }}</h3>
        <p class="course-description">{{ course.description }}</p>
      </div>

      <div class="card-actions">
        <!-- Toggle favorite button -->
        <button mat-icon-button (click)="toggleFavorite(course.id, course.isFavorite)">
          <mat-icon [style.color]="course.isFavorite ? '#0F2B32' : ''">
            {{ course.isFavorite ? 'star' : 'star_outline' }}
          </mat-icon>
        </button>

        <!-- Navigate to course units -->
        <button mat-flat-button (click)="navigateToUnits(course.id)">  {{ 'units' | translate }}</button>
      </div>
    </div>
  </div>

  <ng-template #noCourses>
    <div class="no-courses">
      <mat-icon>error_outline</mat-icon>
      <p>{{ 'noCoursesAvailable' | translate }}</p>
    </div>
  </ng-template>
</div>
