<div class="dialog-overlay">
  <div class="dialog-container subcategory-dialog">
    <div class="dialog-header">
      <mat-icon class="header-icon">category</mat-icon>
      <div class="header-title">{{ data.subcategory ? "Edit Subcategory" : "Add Subcategory" }}</div>
    </div>
    <form [formGroup]="form" (ngSubmit)="save()" class="dialog-form subcategory-dialog">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <div class="dialog-actions">
        <button mat-stroked-button type="button" (click)="close()">Cancel</button>
        <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">{{ data.subcategory ? "Update" :
          "Add" }}</button>
      </div>
    </form>
  </div>
</div>