.success-snackbar {
  background-color: #4caf50; // Green for success
  color: white;
}

.error-snackbar {
  background-color: #f44336; // Red for error
  color: white;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height to center spinner vertically */
}
