<div *ngIf="units && units.length > 0; else noUnits">
  <div class="row">
    <div class="col-lg-4 col-12 mx-auto" *ngFor="let unit of units">
      <mat-card>
        <mat-card-content>
          <mat-card-title>
            {{ unit.title }}
          </mat-card-title>
          <p>{{ unit.description }}</p> 
        </mat-card-content>
        <mat-card-actions>
          <!--(click)="openDialog(unit.id)"-->
          <button mat-raised-button>{{ 'addNewExam' | translate }}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #noUnits>
  <p>{{ 'noUnitsAvailable' | translate }}</p>
</ng-template>

<!-- Spinner *ngIf="isLoading"  -->
