<div *ngIf="units && units.length > 0; else noUnits">
  <h3>{{ 'unitsForCourse' | translate }}: {{ courseId }}</h3>
  <div class="row">
    <div class="col-lg-4 col-12 mx-auto" *ngFor="let unit of units">
      <mat-card>
        <mat-card-content>
          <mat-card-title>
            {{ unit.title }}
          </mat-card-title>
          <p>{{ unit.description }}</p>  <!-- Adjust as per actual response structure -->
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="startExam(unit.id)">
            {{ 'start' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #noUnits>
  <p>{{ 'noUnits' | translate }}</p>
</ng-template>
