<main id="wecare">
  <div class="breadcrumbs">
    <div
      class="page-header d-flex align-items-center"
      style="background-image: url('')"
    >
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 *ngIf="id == 'dynamics365'">
              Microsoft Dynamics 365 finance and operation
            </h2>
            <h2 *ngIf="id == 'wecare'">WeCare: Health Information System</h2>
            <h2 *ngIf="id == 'axalary'">Axalary: HR & Payroll</h2>
            <h2 *ngIf="id == 'ivf'">IVF: Health Information System</h2>
            <h2 *ngIf="id == 'saftey'">Saftey Inspection</h2>
            <h2 *ngIf="id == 'real-estate'">
              Elite Real-Estate: Management System
            </h2>
            <h2 *ngIf="id == 'zatca'">
              Zatca Suadi Arabia
            </h2>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a routerLink="''">Home</a></li>
          <li><a [routerLink]="'../..'">Solutions</a></li>
          <li *ngIf="id == 'dynamics365'">
            Microsoft Dynamics 365 finance and operation
          </li>
          <li *ngIf="id == 'wecare'">We Care</li>
          <li *ngIf="id == 'axalary'">Axalary: HR & Payroll</li>
          <li *ngIf="id == 'ivf'">IVF: Health Information System</li>
          <li *ngIf="id == 'saftey'">Saftey Inspection</li>
          <li *ngIf="id == 'real-estate'">
            Elite Real-Estate: Management System
          </li>
           <li *ngIf="id == 'zatca'">
            Zatca Suadi Arabia
          </li>
        </ol>
      </div>
    </nav>
  </div>
  <!-- End Breadcrumbs -->

  <!-- ======= Blog Details Section ======= -->

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
      <div class="row g-5">
        <div class="col-lg-8">
          <article *ngIf="id == 'dynamics365'" class="blog-details">
            <div class="post-img">
              <img
                src="assets/img/Services/dynamics-365.png"
                alt=""
                class="img-fluid solution-detail-img"
              />
            </div>
            <h2 class="title">Microsoft Dynamics 365 finance and operation</h2>
            <!-- End meta top -->
            <div class="content">
              <p>
                Microsoft Dynamics 365 finance and operation, previously know as
                AX or AXAPTA, is an adaptable business management solution that
                offers powerful new capabilities to help growing multi-site
                organizations streamline processes, reduce operational costs,
                manage compliance and drive informed decision-making.
              </p>
              <p>
                Microsoft Dynamics 365 is a set of enterprise resource planning
                (ERP) and customer relationship management (CRM) applications
                developed by Microsoft. It is a cloud-based platform that can be
                customized to fit the specific needs of a business. Dynamics 365
                includes a wide range of tools for managing financials, supply
                chain, manufacturing, field service, customer service, and
                marketing. The platform can be integrated with other Microsoft
                products like Office 365, Power BI, and Azure to provide a
                seamless user experience. Dynamics 365 also includes advanced
                analytics and business intelligence capabilities to help
                businesses gain insights from their data. Overall, Microsoft
                Dynamics 365 is a comprehensive solution for businesses looking
                to streamline operations and improve customer engagement.
              </p>
              <blockquote>
                <p>
                  In addition to its robust feature set, Microsoft Dynamics 365
                  offers a number of benefits to users. One major benefit is the
                  ability to access the platform from anywhere with an internet
                  connection. This allows for easy collaboration between team
                  members and the ability to work remotely. Dynamics 365 also
                  provides real-time insights and data visualization tools to
                  help users make better business decisions.
                </p>
              </blockquote>
              <p>
                Another benefit of using Dynamics 365 is the ability to scale
                the solution to meet the needs of the business. As a business
                grows and evolves, additional modules and functionalities can be
                added to the platform to support new processes and requirements.
                Microsoft Dynamics 365 also provides a high level of security
                and compliance, ensuring that sensitive business and customer
                data is protected. It is compliant with multiple industry
                standards such as SOC 1, SOC 2, and HIPAA, and Microsoft
                regularly updates the platform to meet the latest security
                standards.
              </p>
              <p>
                Finally, the platform is supported by a large and active
                community of developers, consultants, and partners. This means
                that businesses can easily find support and resources to help
                them customize and implement Dynamics 365 to meet their specific
                needs.
              </p>
              <p>
                Overall, Microsoft Dynamics 365 is a powerful and versatile
                platform that can help businesses of all sizes streamline
                operations, improve customer engagement, and drive growth.
              </p>
            </div>
            <!-- End post content -->
          </article>
          <!-- End blog post -->

          <article *ngIf="id == 'wecare'" class="blog-details">
            <div class="post-img">
              <img
                src="assets/img/Services/WeCare.png"
                alt=""
                class="img-fluid solution-detail-img"
              />
            </div>
            <h2 class="title">WeCare: Health Information System</h2>
            <div class="content">
              <p>
                We Care HIS is a vertical business solution developed on
                Microsoft Dynamics F&O (Microsoft ERP). We Care HIS is using two
                different environments in hospitals to realize and simplifies
                all medical and financial workflow. You can't meet the unique
                needs of the healthcare industry with generic software that
                treats all industries equally. At We Care HIS we understand that
                the healthcare industry. So, We Care HIS is specifically
                designed for healthcare, which means it offers the broadest,
                deepest solutions for all organizations that serve the
                healthcare delivery model.
              </p>
              <p></p>
              <blockquote>
                <p>
                  All data storage and business logic is planned and implemented
                  on Dynamics F&O. Financial working environment is also in
                  Dynamics F&O. For medical working environment We Care HIS has
                  a windows forms application build on .Net Framework, named “We
                  Care HIS Client”.
                </p>
              </blockquote>
              <p>
                We Care HIS is not a third-party hospital information management
                system integrated with AX but is fully developed on AX.
              </p>
            </div>
            <!-- End post content -->
          </article>

          <article *ngIf="id == 'axalary'" class="blog-details">
            <div class="post-img">
              <img
                src="assets/img/Services/AXALARY.png"
                alt=""
                class="img-fluid solution-detail-img"
              />
            </div>
            <h2 class="title">Axalary: HR & Payroll</h2>
            <div class="content">
              <p>
                Help reduce administrative costs, save time, and manage employee
                informHelp reduce administrative costs, save time, and manage
                employee information effectively with a flexible payroll system.
                PIONEERS localized Payroll for Microsoft Dynamics AX can help
                manage all your payroll functions in one integrated system,
                streamline your processes, provide insight into personnel costs,
                and improve payroll accuracy— even when dealing with exceptions
                and complex workforce challenges. A comprehensive record for
                each employee provides a single view of relevant information
                about allowances, benefits and deductions, time off, and more,
                enabling payroll professionals to respond quickly to queries.
              </p>

              <p>
                PIONEERS localized payroll integrates with your Microsoft
                Dynamics AX business management solution and can handle
                everything related to employee’s financial matters through a
                separate employee’s sub-ledger, covering all employees business
                life cycle from time entry through paycheck, including complex
                calculations for allowances and deductions and last-minute
                adjustments for Middle East & North Africa labor regulations.
                With customized allowances, deductions, and support for multiple
                jobs and pay bases, PIONEERS localized payroll can help you
                reduce complexity, avoid errors, and simplify your record
                keeping. Flexible user-defined rules make it easy to adapt your
                processes to an everchanging workforce.
              </p>

              <blockquote>
                <p>
                  Full automation for employees and employee’s dependents and
                  their documents related to VISA management work permits, and
                  Iqama related work processes.
                </p>
              </blockquote>

              <p>
                Full automation for Work force planning, and a full integration
                with AX 2009 financial budgets through simple and very dynamic
                planning tool, that enable employees recruitment, transfer,
                salaries raising plan, and benefits plan, with ability to
                perform what if analysis with unlimited number of scenarios.
              </p>

              <p>
                Maximizing Your Business Potential - the Benefits of Axalary:
                Manage data with agile efficiency. Make changes quickly and help
                reduce the number of manual touches to payroll information, such
                as extracting data to spreadsheets or reformatting data for a
                third-party system. Help protect confidential data. Control
                access and editing rights to payroll information and help ensure
                that data does not reach unsecured desktops. Attain flexibility
                in adding deductions and allowances. Support wide variety of
                deductions such as medical insurance, social security, etc. and
                allowances such as transportation, housing, etc with the
                flexibility to add business-specific ones. Calculate tax
                expeditiously Ease the calculation of tax in efficient and
                timely manner with the ability to conform to the tax structures
                and parameters in the MENA region. Simplify regulatory
                compliance. Help reduce the time and effort required to comply
                with reporting and tax regulations for the MENA region. Easily
                make electronic filings, payments and updates
                <!-- <img src="assets/img/blog/blog-inside-post.jpg" class="img-fluid" alt=""> -->
              </p>

              <p>
                Overall, Microsoft Dynamics 365 is a powerful and versatile
                platform that can help businesses of all sizes streamline
                operations, improve customer engagement, and drive growth.
              </p>
            </div>
          </article>
          <!-- End blog post -->

          <article *ngIf="id == 'ivf'" class="blog-details">
            <div class="post-img">
              <img
                src="assets/img/Services/IVF.png"
                alt=""
                class="img-fluid solution-detail-img"
              />
            </div>
            <h2 class="title">IVF: Health Information System</h2>
            <div class="content">
              <p>
                In-Vitro Fertilization (IVF) is a type of assisted reproductive
                technology (ART) that can be used to help couples who are
                struggling to conceive. IVF is a complex process that involves
                fertilizing an egg outside of the body and then implanting it
                into the uterus.
              </p>
              <p>
                An IVF Health Information System (IVF HIS) is a specialized type
                of HIS that is specifically designed to manage and track the
                various steps of the IVF process. An IVF HIS can help to
                streamline the process and ensure that patients receive the best
                possible care.
              </p>
              <blockquote>
                <p>
                  An IVF Health Information System (IVF HIS) is a specialized
                  type of HIS that is specifically designed to manage and track
                  the various steps of the IVF process. An IVF HIS can help to
                  streamline the process and ensure that patients receive the
                  best possible care.
                </p>
              </blockquote>
              <p>
                Overall, an IVF HIS can help to improve the patient outcomes and
                the efficiency of an IVF clinic. "Revolutionizing Fertility
                Care: The Benefits of In-Vitro Fertilization Health Information
                System (IVF HIS)".
              </p>
            </div>
          </article>
          <!-- End blog post -->
          <article *ngIf="id == 'saftey'" class="blog-details">
            <div class="post-img">
              <img
                src="assets/img/Services/Safety.png"
                alt=""
                class="img-fluid solution-detail-img"
              />
            </div>

            <h2 class="title">Safety Inspection Software</h2>
            <!--
                            <div class="meta-top">
                              <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01">Jan 1, 2022</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                              </ul>
                            </div> -->
            <!-- End meta top -->

            <div class="content">
              <p>
                The leading company in information technology has developed a
                special inspection and audit system for the facility, which
                works using a smart phone or tablet computer, allowing the
                inspector to complete the inspection procedures without the need
                for paper and recording notes, observations, and violations at
                inspection sites.
              </p>
              <blockquote>
                <p>
                  The leading company in information technology has developed a
                  special inspection and audit system for the facility, which
                  works using a smart phone or tablet computer, allowing the
                  inspector to complete the inspection procedures without the
                  need for paper and recording notes, observations, and
                  violations at inspection sites.
                </p>
              </blockquote>
              <p>
                Features of the inspection system: Works on Windows, iOS, and
                Android environments. Add any type of inspection with details
                Identifying checklists of points that must be verified or
                answered by the inspector during the inspection. The ability to
                document through photography, whether images, videos or audio
                clips, this is to document the inspection status for all types
                of inspection above, and it is linked to the visit number.
                Identifying the employee responsible for the violation and
                setting a deadline for correcting the violation. Follow-up and
                ensuring the improvement of violation conditions. Front-end
                management interface for the system: Entering areas and stations
                covered by the inspection. Specifying inputs and details of
                inspections and their types. Entering user information and
                permissions for each of them. Printing visit reports – regular
                and surprise.
              </p>
            </div>
            <!-- End post content -->
          </article>
          <!-- End blog post -->
          <article *ngIf="id == 'real-estate'" class="blog-details">
            <div class="post-img">
              <img
                src="assets/img/Services/Elite.png"
                alt=""
                class="img-fluid solution-detail-img"
              />
            </div>
            <h2 class="title">Elite Real-Estate: Management System</h2>
            <!--  <div class="meta-top">
                            <ul>
                              <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                              <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01">Jan 1, 2022</time></a></li>
                              <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                            </ul>
                          </div> -->
            <!-- End meta top -->
            <div class="content">
              <p>
                Elite Real Estate Management System (EREMS) is a specialized
                software solution for managing and growing a real estate
                business using Microsoft Dynamics AX. EREMS is a comprehensive
                and flexible platform that can help real estate professionals
                streamline their operations and improve their bottom line.
              </p>

              <blockquote>
                <p>
                  By using Microsoft Dynamics AX as the foundation, EREMS offers
                  a wide range of tools to manage your property portfolio, track
                  and record financials, and provide detailed reporting to aid
                  decision-making. With the ability to integrate with other
                  Microsoft products such as Office 365, Power BI and Azure,
                  EREMS provides a seamless user experience that empowers real
                  estate professionals to make better business decisions.
                </p>
              </blockquote>
              <p>
                EREMS also offers features that are specific to the real estate
                industry, like real estate marketing management, property lease
                management, and real estate analytics. It also provides advanced
                analytics and business intelligence capabilities to help
                businesses gain insights from their data, and also it can track
                various types of income and expenses like rent, utilities,
                maintenance, etc. This allows real estate professionals to have
                a more accurate and detailed picture of their financial
                performance.
              </p>
              <p>
                EREMS also offers features that are specific to the real estate
                industry, like real estate marketing management, property lease
                management, and real estate analytics. It also provides advanced
                analytics and business intelligence capabilities to help
                businesses gain insights from their data, and also it can track
                various types of income and expenses like rent, utilities,
                maintenance, etc. This allows real estate professionals to have
                a more accurate and detailed picture of their financial
                performance.
              </p>
              <p>
                EREMS also offers features that are specific to the real estate
                industry, like real estate marketing management, property lease
                management, and real estate analytics. It also provides advanced
                analytics and business intelligence capabilities to help
                businesses gain insights from their data, and also it can track
                various types of income and expenses like rent, utilities,
                maintenance, etc. This allows real estate professionals to have
                a more accurate and detailed picture of their financial
                performance.
              </p>
            </div>
            <!-- End post content -->
          </article>

           <article *ngIf="id == 'zatca'" class="blog-details">
            <div class="post-img">
              <img
                src="assets/img/Services/Zatca.png"
                alt=""
                class="img-fluid solution-detail-img"
              />
            </div>
            <h2 class="title">Microsoft Dynamics 365 finance and operation</h2>
            <!-- End meta top -->
            <div class="content">
            
              <blockquote>
                <p>
                 ZATCA, or the Zakat, Tax and Customs Authority, is a government agency in Saudi Arabia that is responsible for managing the collection and administration of zakat (Islamic charity), taxes, and customs duties in the country.
                </p>
              </blockquote>

            </div>
            <!-- End post content -->
          </article>
          <!-- End blog post -->
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="sidebar-item recent-posts">
              <h3 class="sidebar-title pb-4">IT Solutions & Products</h3>
              <div
                class="d-flex flex-column align-items-left justify-content-center"
              >
                <div class="post-item">
                  <img src="assets/img/Services/dynamics-365.png" alt="" />
                  <div>
                    <h4>
                      <a [routerLink]="['/solutions/detail/dynamics365']"
                        >Microsoft Dynamics 365: ERP Software</a
                      >
                    </h4>
                  </div>
                </div>
                <!-- End recent post item-->
                <div class="post-item">
                  <img src="assets/img/Services/WeCare.png" alt="" />
                  <div>
                    <h4>
                      <a [routerLink]="['/solutions/detail/wecare']"
                        >WeCare: Health Information System</a
                      >
                    </h4>
                  </div>
                </div>
                <!-- End recent post item-->
                <div class="post-item">
                  <img src="assets/img/Services/AXALARY.png" alt="" />
                  <div>
                    <h4>
                      <a [routerLink]="['/solutions/detail/axalary']"
                        >Axalary: HR & Payroll</a
                      >
                    </h4>
                  </div>
                </div>
                <!-- End recent post item-->
                <div class="post-item">
                  <img src="assets/img/Services/IVF.png" alt="" />
                  <div>
                    <h4>
                      <a [routerLink]="['/solutions/detail/ivf']"
                        >IVF: Health Information System</a
                      >
                    </h4>
                  </div>
                </div>
                <!-- End recent post item-->
                <div class="post-item">
                  <img
                    src="assets/img/Services/Safety.png"
                    alt=""
                  />
                  <div>
                    <h4>
                      <a [routerLink]="['/solutions/detail/saftey']">
                        Safety Inspection Software</a
                      >
                    </h4>
                  </div>
                </div>
                <div class="post-item">
                  <img src="assets/img/Services/Elite.png" alt="Services" />
                  <div>
                    <h4>
                      <a [routerLink]="['/solutions/detail/real-estate']">
                        Elite Real-Estate: Management Syste</a
                      >
                    </h4>
                  </div>
                </div>
                <!-- End recent post item-->

                 <div class="post-item">
                  <img src="assets/img/Services/Zatca.png" alt="Services" />
                  <div>
                    <h4>
                      <a [routerLink]="['/solutions/detail/zatca']">
                       Zatca Saudi Arabia</a
                      >
                    </h4>
                  </div>
                </div>

              </div>
              <!-- End sidebar recent posts-->
            </div>
            <div class="sidebar-item tags">
              <h3 class="sidebar-title pb-3">Resources</h3>
              <a #downloadLink style="display: none"></a>
              <button
                *ngIf="id == 'wecare'"
                class="btn btn-link"
                (click)="downloadFile('assets/pdf/', 'We Care', 'pdf')"
              >
                Download PDF
              </button>
              <button
                *ngIf="id == 'axalary'"
                class="btn btn-link"
                (click)="downloadFile('assets/pdf/', 'AXALARY', 'pdf')"
              >
                Download PDF
              </button>
              <button
                *ngIf="id == 'ivf'"
                class="btn btn-link"
                (click)="downloadFile('assets/pdf/', 'IVF', 'pdf')"
              >
                Download PDF
              </button>
              <button
                *ngIf="id == 'real-estate'"
                class="btn btn-link"
                (click)="downloadFile('assets/pdf/', 'Real State', 'pptx')"
              >
                Download PPTX
              </button>
            </div>
            <div class="sidebar-item tags">
              <h3 class="sidebar-title pb-3">Videos</h3>
              <a #downloadLink style="display: none"></a>
              <div *ngIf="id == 'wecare'">
                <div class="sidebar-item recent-posts">
                  <div
                    class="d-flex flex-column align-items-left justify-content-center"
                  >
                    <div class="post-item">
                      <a
                        href="assets/videos/24 - 532a2752-e5a1-4034-9701-9b81688192e3.mp4"
                      >
                        <img src="assets/img/Services/WeCare.png" alt="" />
                        <div>
                          <h4>About WeCare HIS</h4>
                        </div></a
                      >
                    </div>
                    <!-- End recent post item-->
                    <div class="post-item">
                      <a
                        href="assets/videos/38 - Labretory demo module within wecare.mp4"
                      >
                        <img src="assets/img/Services/WeCare.png" alt="" />
                        <div>
                          <h4>Laboratory Demo Module Video</h4>
                        </div></a
                      >
                    </div>
                    <!-- End recent post item-->
                    <div class="post-item">
                      <a href="assets/videos/50 - VID-20200414-WA0009.mp4">
                        <img src="assets/img/Services/WeCare.png" alt="" />
                        <div>
                          <h4>WeCare Tutorial</h4>
                        </div></a
                      >
                    </div>
                    <!-- End recent post item-->
                    <!-- End recent post item-->
                  </div>
                  <!-- End sidebar recent posts-->
                </div>
              </div>
              <div *ngIf="id == 'saftey'">
                <div class="sidebar-item recent-posts">
                  <div
                    class="d-flex flex-column align-items-left justify-content-center"
                  >
                    <div class="post-item">
                      <a href="assets/videos/25 - SAFETY INSPECTION SYSTEM-1080p-220630.mp4">
                        <img src="assets/img/Services/Safety.png" alt="" />
                        <div>
                          <h4>Safety Inspection Software</h4>
                        </div></a
                      >
                    </div>
                    <!-- End recent post item-->
                    <!-- End recent post item-->
                  </div>
                  <!-- End sidebar recent posts-->
                </div>
              </div>

              <div *ngIf="id == 'real-estate'">
                <div class="sidebar-item recent-posts">
                  <div
                    class="d-flex flex-column align-items-left justify-content-center"
                  >
                    <div class="post-item">
                      <img src="assets/img/Services/Elite.png" alt="" />
                      <div>
                        <h4>
                          <a
                            href="assets/videos/25 - SAFETY INSPECTION SYSTEM-1080p-220630.mp4"
                            >Elite Real Estate</a
                          >
                        </h4>
                      </div>
                    </div>
                    <!-- End recent post item-->
                    <!-- End recent post item-->
                  </div>
                  <!-- End sidebar recent posts-->
                </div>
              </div>

              <div *ngIf="id == 'zatca'">
                <div class="sidebar-item recent-posts">
                  <div
                    class="d-flex flex-column align-items-left justify-content-center"
                  >
                    <div class="post-item">
                      <!-- <img src="assets/img/Services/ZatcaLogo.jpeg" alt="" /> -->
                      <div>
                        <h4>
                          <a class="zatca-link"
                            href="assets/videos/zatca.mp4"
                            >Zatca Integration</a
                          >
                        </h4>
                      </div>
                    </div>
                    <!-- End recent post item-->
                    <!-- End recent post item-->
                  </div>
                  <!-- End sidebar recent posts-->
                </div>
              </div>

            </div>
            <!-- End sidebar tags-->
          </div>
          <!-- End Blog Sidebar -->
        </div>
      </div>
    </div>
  </section>
  <!-- End Blog Details Section -->
</main>
