<div class="dialog-overlay">
  <div class="dialog-container category-dialog">
    <div class="dialog-header">
      <mat-icon class="header-icon">category</mat-icon>
      <div class="header-title">{{ data ? "Edit Category" : "Add Category" }}</div>
    </div>
    <form [formGroup]="form" (ngSubmit)="save()" class="dialog-form category-dialog">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <input matInput formControlName="type" />
      </mat-form-field>
      <div class="dialog-actions">
        <button mat-stroked-button type="button" (click)="close()">Cancel</button>
        <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">{{ data ? "Update" : "Add"
          }}</button>
      </div>
    </form>
  </div>
</div>