<main id="main">
  <div class="breadcrumbs">
    <div
      class="page-header d-flex align-items-center"
      style="background-image: url('')"
    >
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>IT Solutions & Products</h2>
            <p>
              Our IT solutions are designed to help businesses of all sizes
              streamline their operations, improve efficiency, and stay ahead of
              the competition. Whether you need to improve communication and
              collaboration within your team, optimize your workflow, or simply
              want to leverage the latest technology to give your business a
              competitive edge, we have the solution for you.
            </p>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>IT Solutions & Products</li>
        </ol>
      </div>
    </nav>
  </div>
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4 posts-list">
        <div class="col-xl-4 col-md-6">
          <article>
            <div class="post-img">
              <img
                src="assets/img/Services/dynamics-365.png"
                alt=""
                class="top-img-fluid"
              />
            </div>
            <!-- <p class="post-category">Microsoft Dynamics 365: ERP Software</p> -->
            <h2 class="title pt-5">
              <a [routerLink]="['/solutions/detail/dynamics365']"
                >Microsoft Dynamics 365: ERP Software</a
              >
            </h2>
            <div class="d-flex align-items-center">
              <!-- <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
              <div class="post-meta">
                <p class="post-author-list">
                  Microsoft Dynamics AX is a business management software
                  solution for enterprise resource planning (ERP). It helps
                  organizations streamline business processes, improve
                  efficiency, and make better decisions.
                </p>
                <!-- <p class="post-date">
                    <time datetime="2022-01-01">Jun 5, 2022</time>
                  </p> -->
              </div>
            </div>
          </article>
        </div>
        <div class="col-xl-4 col-md-6">
          <article>
            <div class="post-img">
              <img
                src="assets/img/Services/WeCare.png"
                alt=""
                class="top-img-fluid"
              />
            </div>
            <h2 class="title">
              <a [routerLink]="['/solutions/detail/wecare']"
                >WeCare: Health Information System</a
              >
            </h2>
            <div class="d-flex align-items-center">
              <div class="post-meta">
                <p class="post-author-list">
                  WeCare is a healthcare software designed to improve patient
                  data management and clinical decision-making for healthcare
                  organizations. It offers capabilities including electronic
                  health records (EHR), practice management, and revenue cycle
                  management.
                </p>
                <!-- <p class="post-date">
                    <time datetime="2022-01-01">Jan 1, 2022</time>
                  </p> -->
              </div>
            </div>
          </article>
        </div>
        <!-- End post list item -->
        <div class="col-xl-4 col-md-6">
          <article>
            <div class="post-img">
              <img
                src="assets/img/Services/AXALARY.png"
                alt=""
                class="top-img-fluid"
              />
            </div>
            <!-- <p class="post-category">Microsoft Dynamics 365: ERP Software</p> -->
            <h2 class="title">
              <a [routerLink]="['/solutions/detail/axalary']"
                >Axalary: HR & Payroll</a
              >
            </h2>
            <div class="d-flex align-items-center">
              <div class="post-meta">
                <p class="post-author-list">
                  Axalary is a comprehensive software solution designed to help
                  businesses streamline their HR and payroll processes,
                  ultimately reducing administrative costs and saving time. With
                  Axalary, you can easily and effectively manage employee
                  information, benefits, and pay.
                </p>
              </div>
            </div>
          </article>
        </div>
        <!-- End post list item -->
        <div class="col-xl-4 col-md-6">
          <article>
            <div class="post-img">
              <img
                src="assets/img/Services/IVF.png"
                alt=""
                class="top-img-fluid"
              />
            </div>
            <!-- <p class="post-category">Entertainment</p> -->
            <h2 class="title">
              <a [routerLink]="['/solutions/detail/ivf']"
                >IVF: Health Information System</a
              >
            </h2>

            <div class="d-flex align-items-center">
              <!-- <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
              <div class="post-meta">
                <p class="post-author-list">
                  IVF is a healthcare software that helps improve patient data
                  management and clinical decision-making for healthcare
                  organizations. It offers electronic health records, practice
                  management, and revenue cycle management tools to support
                  healthcare providers.
                </p>
                <!-- <p class="post-date">
                    <time datetime="2022-01-01">Jun 22, 2022</time>
                  </p> -->
              </div>
            </div>
          </article>
        </div>
        <!-- End post list item -->
        <div class="col-xl-4 col-md-6">
          <article>
            <div class="post-img">
              <img
                src="assets/img/Services/Safety.png"
                alt=""
                class="top-img-fluid"
              />
            </div>
            <!-- <p class="post-category">Entertainment</p> -->
            <h2 class="title">
              <a [routerLink]="['/solutions/detail/saftey']"
                >Safety Inspection Software</a
              >
            </h2>

            <div class="d-flex align-items-center">
              <!-- <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
              <div class="post-meta">
                <p class="post-author-list">
                  Revolutionize your inspection process with our
                  state-of-the-art system, utilizing the power of smartphones or
                  tablets to complete inspections, eliminating the need for
                  paper and streamlining note-taking and violation recording at
                  inspection sites .
                </p>
                <!-- <p class="post-date">
                    <time datetime="2022-01-01">Jun 22, 2022</time>
                  </p> -->
              </div>
            </div>
          </article>
        </div>
        <!-- End post list item -->

        <div class="col-xl-4 col-md-6">
          <article>
            <div class="post-img">
              <img
                src="assets/img/Services/Elite.png"
                alt=""
                class="top-img-fluid"
              />
            </div>
            <!-- <p class="post-category">Entertainment</p> -->
            <h2 class="title">
              <a [routerLink]="['/solutions/detail/elite']">
                Elite Real-Estate: Management Syste</a
              >
            </h2>
            <div class="d-flex align-items-center">
              <!-- <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
              <div class="post-meta">
                <p class="post-author-list">
                  Elite Real Estate is a software designed for real estate
                  management. It offers tools for property listings, lead
                  generation, and customer relationship management.
                </p>
                <!-- <p class="post-date">
                    <time datetime="2022-01-01">Jun 22, 2022</time>
                  </p> -->
              </div>
            </div>
          </article>
        </div>

        <!-- Zatca -->
         <div class="col-xl-4 col-md-6">
          <article>
            <div class="post-img">
              <img
                src="assets/img/Services/Zatca.png"
                alt=""
                class="top-img-fluid"
              />
            </div>
            <!-- <p class="post-category">Microsoft Dynamics 365: ERP Software</p> -->
            <h2 class="title pt-5">
              <a [routerLink]="['/solutions/detail/zatca']"
                >Zatca Saudi Arabia</a
              >
            </h2>
            <div class="d-flex align-items-center">
              <!-- <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
              <div class="post-meta">
                <p class="post-author-list">
                  Electronic invoicing onboarding in Saudi Arabia.
                </p>
                <!-- <p class="post-date">
                    <time datetime="2022-01-01">Jun 5, 2022</time>
                  </p> -->
              </div>
            </div>
          </article>
        </div>

          <!-- Zatca -->

        <!-- End post list item -->
      </div>
      <!-- End blog posts list -->
      <!-- <div class="blog-pagination">
          <ul class="justify-content-center">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div> -->
      <!-- End blog pagination -->
    </div>
  </section>
  <!-- End Blog Section -->
</main>
<!-- End #main -->
