<div class="exam-results" *ngIf="exam && exam.userAnswers && exam.userAnswers.length > 0">
  <!-- Display the exam score -->
  <!--#ff020014-->
  <!--faild-result-->
  <div class="row">
    <div class="col-12 text-center">
      <h3 style="font-weight:bold">{{ 'examDetails' | translate }}</h3>
    </div>
  </div>
  <mat-card [ngClass]="exam.score>=50 ? 'pass-result' : 'faild-result'" style="border: solid 1px #0000001a;">
    <mat-card-content>
      <div class="row">
        <div class="col-6">
          <ul>
            <li>
              {{ 'title' | translate }}: <span style="font-weight:bold">{{ exam.examName }}</span>
            </li>
            <li>
              {{ 'startedAt' | translate }}: <span style="font-weight:bold"> {{ exam.startedAt | utcToLocal }}</span>
            </li>
            <li>
              {{ 'completedAt' | translate }}: <span style="font-weight:bold"> {{ exam.completedAt | utcToLocal }}</span>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <!--<div class="row">
    <div class="col-12">
      <h4 style="font-weight:bold">
        Performance Breakdown
      </h4>
    </div>
  </div>-->
          <ul>
            <li>
              {{ 'totalQuestions' | translate }}: <span style="font-weight:bold">{{ exam.totalQuestions }}</span>
            </li>
            <li>
              {{ 'correctAnswers' | translate }}: <span style="font-weight:bold">{{ exam.correctAnswers }}</span>
            </li>
            <li>
              {{ 'wrongAnswers' | translate }}: <span style="font-weight:bold">{{ exam.wrongAnswers }}</span>
            </li>
            <li>
              {{ 'score' | translate }}: <span style="font-weight:bold">{{ exam.score }}%</span>
            </li>
          </ul>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div *ngFor="let answer of exam.userAnswers">
    <mat-card class="answer-card" style="background-color: #f9f9f9; border: solid 1px #0000001a;">
      <mat-card-header>
        <mat-card-title>{{ answer.questionText }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-12" *ngIf="answer.isCorrect">
            <p>{{ 'answer' | translate }}: {{ answer.answerText }}<mat-icon style="color: #3490a8;">check</mat-icon></p>
          </div>
          <div class="col-12" *ngIf="!answer.isCorrect">
            <p>{{ 'answer' | translate }}: {{ answer.answerText }}<mat-icon style="color: #db4c4c;">close</mat-icon></p>
          </div>
          <div class="col-12" *ngIf="!answer.isCorrect">
            <p>{{ 'correctAnswer' | translate }}: {{ answer.correctAnswerText }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
