.exam-card-container {
  margin-bottom: 20px;
}

.exam-card {
  padding: 10px;
}
.card-main-title {
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 25px;
  padding-bottom: 10px;
}
.pass-result {
  background-color: #f9f9f9;
}
.faild-result {
  background-color: #ff020014;
}
li {
  padding: 5px;
}
