<main id="main">
  <!-- ======= Our Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Our Team</h2>
      </div>
      <div class="row gy-4">
        <div *ngFor="let member of teamMembers" class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex" data-aos="fade-up">
          <div class="member w-100">
            <img [src]="member.profileImage" [alt]="member.name" />
            <h4>{{ member.title }}. {{ member.name }}</h4>
            <span>{{ member.role }}</span>
            <p>{{ member.description }}</p>
            <div class="social">
              <a *ngIf="member.twitterUrl" [href]="member.twitterUrl" target="_blank"><i class="bi bi-twitter"></i></a>
              <a *ngIf="member.facebookUrl" [href]="member.facebookUrl" target="_blank"><i
                  class="bi bi-facebook"></i></a>
              <a *ngIf="member.instagramUrl" [href]="member.instagramUrl" target="_blank"><i
                  class="bi bi-instagram"></i></a>
              <a *ngIf="member.linkedInUrl" [href]="member.linkedInUrl" target="_blank"><i
                  class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <!-- End Team Member -->
      </div>
    </div>
  </section>
  <!-- End Our Team Section -->
</main>