<div class="row" *ngIf="courses && courses.length > 0; else noCourses">
  <div class="col-lg-4 col-12 mx-auto" *ngFor="let course of courses">
    <mat-card>
      <mat-card-content>
        <mat-card-title class="text-center">
          {{ course.title }}
        </mat-card-title>
        <button mat-button color="primary" (click)="navigateToUnits(course.id)">
          {{ 'viewUnits' | translate }}
        </button>
      </mat-card-content>
    </mat-card>
    <a href="course-list.component.html">course-list.component.html</a>
  </div>
</div>

<ng-template #noCourses>
  <p>{{ 'noCoursesAvailable' | translate }}</p>
</ng-template>
