<div *ngIf="units && units.length > 0; else noUnits">
  <div class="row">
    <div class="col-lg-4 col-12 mx-auto" *ngFor="let unit of units">
      <mat-card class="text-center">
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <mat-card-title class="text-center">
                {{ unit.title }}
              </mat-card-title>
            </div>
          </div>
          <div class="row center-buttons">
          
              <button mat-raised-button title="{{ 'save' | translate }}"class="btn-with-border margin6" (click)="createExam(unit.id)">
                <mat-icon>save</mat-icon>
              </button>

              <button mat-raised-button title="{{ 'startExam' | translate }}"class="btn-with-border margin6" (click)="startExam(unit.id)">
                <mat-icon>not_started</mat-icon>
              </button>
            
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #noUnits>
  <p>{{ 'noUnitsAvailable' | translate }}</p>
</ng-template>
