<!-- User Menu -->
<span *ngIf="isLoggedIn() && currentUser" class="user-menu">
  <button mat-button [matMenuTriggerFor]="profileMenu" class="user-button">
    <mat-icon class="avatar-icon">account_circle</mat-icon>
    <span class="user-name">{{ currentUser.userName }}</span>
  </button>

  <!-- Dropdown Menu -->
  <mat-menu #profileMenu="matMenu" class="modern-profile-dropdown">
    <!-- User Info Section -->
    <div class="profile-info">
      <mat-icon class="profile-avatar">account_circle</mat-icon>
      <div class="info-text">
        <div class="name-role">
          <span class="user-name">{{ currentUser.userName }}</span>
          <span class="role-badge">{{ getRoleName(currentUser.userRoleId) | translate }}</span>
        </div>
        <div class="user-email">{{ currentUser.userEmail }}</div>
      </div>
    </div>
    <!-- Actions -->
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ 'signOut' | translate }}</span>
    </button>
  </mat-menu>
</span>
