<h2 mat-dialog-title class="text-xl font-semibold text-blue-700">
  {{ data?.title || (isEditMode ? 'Edit Ticket' : 'Create New Ticket') }}
</h2>

<div mat-dialog-content class="mt-6 space-y-4">
  <form [formGroup]="ticketForm">

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Enter ticket title" formControlName="title"  />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full" *ngIf="hasRequiredValidator('supportTypeId')">
      <mat-label>Support Option</mat-label>
      <mat-select formControlName="supportTypeId" >
        <mat-option *ngFor="let supportOption of supportOptionList" [value]="supportOption.value">
            {{ supportOption.key }}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full" *ngIf="hasRequiredValidator('categoryId')">
      <mat-label>Category</mat-label>
      <mat-select formControlName="categoryId" (selectionChange)="getSubcategoryByCategory()">
        <mat-option *ngFor="let category of categoryList" [value]="category.value">
            {{ category.key }}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full" *ngIf="hasRequiredValidator('subcategoryId')">
      <mat-label>Subcategory</mat-label>
      <mat-select formControlName="subcategoryId" >
        <mat-option *ngFor="let subCategory of subCategoryList" [value]="subCategory.value">
            {{ subCategory.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full" *ngIf="hasRequiredValidator('statusId')">
      <mat-label>Status</mat-label>
      <mat-select formControlName="statusId" >
        <mat-option *ngFor="let status of statusList" [value]="status.value">
            {{ status.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full" *ngIf="hasRequiredValidator('priorityId')">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priorityId" >
        <mat-option *ngFor="let ticketPriority of ticketPriorityList" [value]="ticketPriority.value">
            {{ ticketPriority.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full" *ngIf="hasRequiredValidator('assignedToId')">
      <mat-label>Assigned To</mat-label>
      <mat-select formControlName="assignedToId" >
        <mat-option *ngFor="let assignedTo of assignedToList" [value]="assignedTo.value">
            {{ assignedTo.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Enter Description" formControlName="description"  />
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions class="flex justify-end gap-4 mt-8 mb-4">
  <button mat-button (click)="close()">Cancel</button>

  <button mat-flat-button *ngIf="!data.isViewMode"
          color="{{ isEditMode ? 'warn' : 'primary' }}"
          [disabled]="ticketForm.invalid"
          (click)="save()">
    <mat-icon class="mr-1">{{ isEditMode ? 'edit' : 'add' }}</mat-icon>
    {{ isEditMode ? 'Edit' : 'Create' }}
  </button>
</div>
