<!-- ======= Hero Section ======= -->
<section id="hero" class="hero prevent-select">
  <div class="container position-relative">
    <div class="row gy-5">
      <div
        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start"
      >
        <div
          class="hero-swiper swiper"
          data-aos="zoom-in-right"
          data-aos-delay="100"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <h2>We help you grow your business</h2>
              <p>
                We understand that navigating the constantly evolving world of
                technology can be overwhelming. That's why we offer a full suite
                of IT solutions and business consulting services to help your
                company not just keep up, but thrive. Partner with us and see
                what we can achieve together.
              </p>
              <div
                class="d-flex justify-content-center justify-content-lg-start"
              >
                <a href="#about" class="btn-get-started">Get Started</a>
                <a
                  href="assets/videos/50 - VID-20200414-WA0009.mp4"
                  class="glightbox btn-watch-video d-flex align-items-center"
                  ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
                >
              </div>
            </div>

            <div class="swiper-slide">
              <h2>Maximizing Dynamics 365 for your business success</h2>
              <p>
                Staying ahead in today's technology landscape can be
                challenging, but with our Microsoft Dynamics 365 solutions and
                business consulting services, we can help your business thrive.
                Let us partner with you to unlock the full potential of Dynamics
                365 and drive your company forward.
              </p>
              <div
                class="d-flex justify-content-center justify-content-lg-start"
              >
                <a href="#about" class="btn-get-started">Get Started</a>
                <a
                  href="assets/videos/50 - VID-20200414-WA0009.mp4"
                  class="glightbox btn-watch-video d-flex align-items-center"
                  ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
                >
              </div>
            </div>

            <div class="swiper-slide">
              <h2>Empowering your business to thrive</h2>
              <p>
                Keeping up with the rapid advancements in technology can be a
                daunting task. That's why we are here to help. Our team of
                experts provides a comprehensive suite of IT solutions and
                business consulting services to help your company not just keep
                up but thrive. Partner with us and let's achieve success
                together.
              </p>
              <div
                class="d-flex justify-content-center justify-content-lg-start"
              >
                <a href="#about" class="btn-get-started">Get Started</a>
                <a
                  href="assets/videos/50 - VID-20200414-WA0009.mp4"
                  class="glightbox btn-watch-video d-flex align-items-center"
                  ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
                >
              </div>
            </div>
          </div>
          <!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> -->

          <!-- If we need scrollbar -->
          <!-- <div class="swiper-scrollbar"></div> -->
        </div>
      </div>

      <div class="col-lg-6 order-1 order-lg-2">
        <img
          src="https://bootstrapmade.com/demo/templates/Arsha/assets/img/hero-img.png"
          draggable="false"
          class="img-fluid"
          alt=""
          data-aos="zoom-in-left"
          data-aos-delay="100"
        />
      </div>
    </div>
  </div>
  <div class="icon-boxes position-relative">
    <div class="container position-relative">
      <div class="row gy-4 mt-5">
        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <h4 class="title">
              <a
                [routerLink]="['/solutions/detail/dynamics365']"
                class="stretched-link"
                >Microsoft Dynamics 365</a
              >
            </h4>
          </div>
        </div>
        <!--End Icon Box -->
        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <!-- <div class="icon"><i class="bi bi-geo-alt"></i></div> -->
            <h4 class="title">
              <a
                [routerLink]="['/solutions/detail/wecare']"
                class="stretched-link"
                >WeCare: Health Information System</a
              >
            </h4>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="icon-box">
            <!-- <div class="icon"><i class="bi bi-command"></i></div> -->

            <h4 class="title">
              <a
                [routerLink]="['/solutions/detail/saftey']"
                class="stretched-link"
                >Safety Inspection Software</a
              >
            </h4>
          </div>
        </div>
        <!--End Icon Box -->
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<main id="main">
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about py-3">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <div class="section-header">
          <h2>Why choose us?</h2>
          <p>
            The reasons that our customers retain Pioneers as their preferred
            Microsoft ERP implementation consulting are:
          </p>
        </div>
      </div>

      <div class="row gy-4">
        <div class="col-lg-5">
          <!-- <h3>Voluptatem dignissimos provident quasi corporis</h3> -->
          <img src="assets/img/skills.svg"
               class="img-fluid rounded-4 mb-4"
               alt="" />
          <p>
            Proven Methodology Implementing a new ERP system is no easy task. It
            takes a strong proven approach to ensure success. Pioneers adopts
            Microsoft Sure-Step proven ERP implementation methodology that will
            successfully lead you through the process to get the results you
            want and need.
          </p>
          <p>
            Industry Experience ERP applications out of the box are the same
            when they ship. Where the true “value add” comes from is how the ERP
            is configured to meet your specific requirements. Your chances of
            success increase greatly if you work with an experienced partner
            like Pioneers. We understands your industry and has done many
            successful projects in your particular industry.Breadth and Depth
            You need a partner that has the ability to understand and execute on
            all the functionality the entire ERP system has. It’s more than just
            accounting functionality. Wither you are a distributor or
            manufacturer, Pioneers has experienced Microsoft certified resources
            and the necessary skills sets in all those areas of functionality.
          </p>

          <p>
            A Pioneer Relationship When selecting an implementation Partner it’s
            important to select someone who is well known as a Pioneer in the
            ERP industry, trust-able, and locally accessible! Pioneers is a
            local company with a global reach. We work to keep costs low and
            reduce travel expenses because we know it adds up quickly. We bring
            the best of business experience and consulting to you at reasonable
            costs.
          </p>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              100% dedication to ensuring our clients' long-term success with
              Microsoft technology. Failure never has been nor ever will be an
              option. “Fadi Karajeh, CEO, Pioneers.
            </p>
            <ul>
              <li>
                <i class="bi bi-check-circle-fill"></i>

                Focus: Pioneers does one thing very well, Microsoft Dynamics 365
                for finance and operations. We have not attempted to "re-invent"
                ourselves with the latest technology fad or staff projects with
                other ERP implementer. We maintain strong relationships
                throughout Microsoft Corporation and Microsoft community. We are
                Microsoft Dynamics 365 for finance and operations All Day Long!.
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i>

                Certified Microsoft Products requires specific certifications
                and exams that must be achieved in order to resell and implement
                Microsoft ERP applications. Be sure that you are working with a
                Partner that is Microsoft Certified Golden Partner. Pioneers has
                passed all the requirements and competencies required by
                Microsoft corporation to sell and implement Microsoft Dynamics
                365 for finance and operations (Axapta ERP). Beyond the Golden
                Partnership with Microsoft you should look strongly at the
                business and technology certifications Pioneers’ professional
                consulting team holds. Having strong business acumen along with
                technology skills will lead to a better overall implementation.
              </li>
            </ul>

            <div class="position-relative mt-4">
              <img src="assets/img/about-2.jpg"
                   class="img-fluid rounded-4"
                   alt=""
                   width="580px" />
              <a href="assets/videos/Pioneers15Years.mp4"
                 class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->
  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-out">
      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/1.png" class="img-fluid" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/2.jpg" class="img-fluid" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/3.jpg" class="img-fluid" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/5.png" class="img-fluid" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/213.jpg"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/13124.jpg"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/bba2f0_c7028303ca254bc9987602dd801507c1_mv2.gif"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/gdsd.png"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/JLVM.jpg"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/KawarLogo.png"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/Mobadara.jpg"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/Mofa.png"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/MVPI Logo_PNG.png"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/Saba.png"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/Sajdi.png"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/Samra logo.png"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/savvy_logo.png"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/smartbuy.png"
                 class="img-fluid"
                 alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/img/Our Clients/Triumpharma.png"
                 class="img-fluid"
                 alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Stats Counter Section ======= -->
  <section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4 align-items-center">
        <div class="col-lg-6">
          <img src="assets/img/stats-img.svg" alt="" class="img-fluid" />
        </div>

        <div class="col-lg-6">
          <div class="stats-item d-flex align-items-center">
            <p>
              <strong style="
    padding-right: 19px;
">More Than</strong>
            </p>
            <span data-purecounter-start="0"
                  data-purecounter-end="100"
                  data-purecounter-duration="1"
                  class="purecounter"></span>
            <p><strong>Happy Clients</strong></p>
          </div>
          <!-- End Stats Item -->

          <div class="stats-item d-flex align-items-center">
            <p>
              <strong style="
    padding-right: 19px;
">More Than</strong>
            </p>
            <span data-purecounter-start="0"
                  data-purecounter-end="100"
                  data-purecounter-duration="1"
                  class="purecounter"></span>
            <p><strong>Projects</strong></p>
          </div>
          <!-- End Stats Item -->

          <div class="stats-item d-flex align-items-center">
            <p>
              <strong style="
    padding-right: 19px;
">More Than</strong>
            </p>
            <span data-purecounter-start="0"
                  data-purecounter-end="30000"
                  data-purecounter-duration="1"
                  class="purecounter"></span>
            <p><strong>Hours Of Support</strong></p>
          </div>
          <!-- End Stats Item -->
        </div>
      </div>
    </div>
  </section>
  <!-- End Stats Counter Section -->
  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action" class="call-to-action">
    <div class="container text-center" data-aos="zoom-out">
      <a href="assets/videos/Pioneers15Years.mp4"
         class="glightbox play-btn"></a>
      <h3>Call To Action</h3>
      <!-- <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p> -->
      <a class="cta-btn" href="#">Call To Action</a>
    </div>
  </section>
  <!-- End Call To Action Section -->
  <!-- ======= Our Services Section ======= -->
  <!-- ======= Our Services Section ======= -->
  <section id="solutions" class="services sections-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <div class="section-header">
          <h2>Our Tailored Solutions</h2>
          <p>TOP BUSINESS SOLUTIONS</p>
        </div>
      </div>

      <!-- <div class="row gy-4" data-aos="fade-up" data-aos-delay="100"> -->
      <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          <div class="swiper-slide px-3">
            <!-- <div class="col-lg-12 col-md-12"> -->
            <div class="service-item position-relative">
              <!-- <div class="icon">
                <i class="bi bi-activity"></i>
              </div> -->
              <div>
                <img src="assets/img/Services/dynamics-365.png"
                     class="service-img"
                     alt="" />
              </div>
              <h3>Microsoft Dynamics 365 ERP Software</h3>
              <p>
                Microsoft Dynamics 365 is a business management software
                solution for enterprise resource planning (ERP). It helps
                organizations streamline business processes, improve efficiency,
                and make better decisions.
              </p>
              <a [routerLink]="['/solutions/detail/dynamics365']"
                 class="readmore stretched-link">
                Read more <i class="bi bi-arrow-right"></i>
              </a>
            </div>
            <!-- </div> -->
          </div>
          <!-- End Service Item -->

          <div class="swiper-slide px-3">
            <!-- <div class="col-lg-12 col-md-12"> -->
            <div class="service-item position-relative">
              <!-- <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div> -->
              <div>
                <img src="assets/img/Services/WeCare.png"
                     class="service-img"
                     alt="" />
              </div>
              <h3>WeCare Health Information System</h3>
              <p>
                WeCare is a healthcare software designed to improve patient data
                management and clinical decision-making for healthcare
                organizations. It offers capabilities including electronic
                health records (EHR), practice management, and revenue cycle
                management
              </p>
              <a [routerLink]="['/solutions/detail/wecare']"
                 class="readmore stretched-link">
                Read more <i class="bi bi-arrow-right"></i>
              </a>
            </div>
            <!-- </div>End Service Item -->
          </div>

          <div class="swiper-slide px-3">
            <!-- <div class="col-lg-12 col-md-12"> -->
            <div class="service-item position-relative">
              <!-- <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div> -->
              <div>
                <img src="assets/img/Services/IVF.png"
                     class="service-img"
                     alt="" />
              </div>
              <h3>IVF: Health Information System</h3>
              <p>
                IVF is a healthcare software that helps improve patient data
                management and clinical decision-making for healthcare
                organizations. It offers electronic health records, practice
                management, and revenue cycle management tools to support
                healthcare providers.
              </p>
              <a [routerLink]="['/solutions/detail/ivf']"
                 class="readmore stretched-link">
                Read more <i class="bi bi-arrow-right"></i>
              </a>
              <!-- </div> -->
            </div>
            <!-- End Service Item -->
          </div>
          <div class="swiper-slide px-3">
            <!-- <div class="col-lg-12 col-md-12"> -->
            <div class="service-item position-relative">
              <!-- <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div> -->
              <div>
                <img src="assets/img/Services/Safety.png"
                     class="service-img"
                     alt="" />
              </div>
              <h3>Safety Inspection Software</h3>
              <p>
                Revolutionize your inspection process with our state-of-the-art
                system, utilizing the power of smartphones or tablets to
                complete inspections, eliminating the need for paper and
                streamlining note-taking and violation recording at inspection
                sites.
              </p>
              <a [routerLink]="['/solutions/detail/saftey']"
                 class="readmore stretched-link">
                Read more <i class="bi bi-arrow-right"></i>
              </a>
              <!-- </div> -->
            </div>
            <!-- End Service Item -->
          </div>
          <div class="swiper-slide px-3">
            <!-- <div class="col-lg-4 col-md-6"> -->
            <div class="service-item position-relative">
              <!-- <div class="icon">
                          <i class="bi bi-chat-square-text"></i>
                        </div> -->
              <div>
                <img src="assets/img/Services/AXALARY.png"
                     class="service-img"
                     alt="" />
              </div>
              <h3>Axalary: HR & Payroll</h3>
              <p>
                Axalary is a comprehensive software solution designed to help
                businesses streamline their HR and payroll processes, ultimately
                reducing administrative costs and saving time. With Axalary, you
                can easily and effectively manage employee information,
                benefits, and pay.
              </p>
              <a [routerLink]="['/solutions/detail/axalary']"
                 class="readmore stretched-link">
                Read more <i class="bi bi-arrow-right"></i>
              </a>
            </div>
            <!-- </div> -->
          </div>
          <!-- End Service Item -->
          <div class="swiper-slide px-3">
            <!-- <div class="col-lg-4 col-md-6"> -->
            <div class="service-item position-relative">
              <!-- <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div> -->
              <div>
                <img src="assets/img/Services/Elite.png"
                     class="service-img"
                     alt="" />
              </div>
              <h3>Elite Real-Estate: Management System</h3>
              <p>
                Elite Real Estate is a software designed for real estate
                management. It offers tools for property listings, lead
                generation, and customer relationship management.
              </p>
              <a [routerLink]="['/solutions/detail/real-estate']"
                 href="#"
                 class="readmore stretched-link">
                Read more <i class="bi bi-arrow-right"></i>
              </a>
              <!-- </div> -->
            </div>
            <!-- End Service Item -->
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- </div> -->
    </div>
  </section>
  <!-- End Our Services Section --><!-- End Our Services Section -->
  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="60"
             height="60"
             fill="#008593"
             class="bi bi-chat-square-quote"
             viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
          <path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z" />
        </svg>

        <div class="section-header mt-2">
          <h2>Customer success stories</h2>
          <!-- <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos
                          quam</p> -->
        </div>
      </div>

      <div class="slides-1 swiper" data-aos="fade-up">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <div class="d-flex align-items-center">
                  <img src="https://static.wixstatic.com/media/bba2f0_b2164347842c494fa64422209cbd8073~mv2.png"
                       class="testimonial-img flex-shrink-0"
                       alt="" />
                  <div>
                    <!-- <h3>Sincerely,</h3> -->
                    <h4>Raed Al Zubaidi &amp; IT Manager</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  We feel that we must bring to your attention the outstanding
                  customer service we receive by your senior representatives and
                  by your good self as well. We are very delighted to have had
                  the pleasure working with your esteemed company for the last
                  year and this year as well. Your professional and courteous
                  attitude, expert knowledge, and patience in handling our
                  specific issues were very important to our company complete
                  satisfaction. We are deeply appreciative of your assistance
                  and support during the implementation of Ax 2009 at our
                  esteemed company and for the utmost importance you treated our
                  affairs all over the past period. Thank you and hopefully you
                  will pass our thanks to all your good staff.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <div class="d-flex align-items-center">
                  <img src="https://static.wixstatic.com/media/bba2f0_53abd8ac299b4ad08639587e536c22ad~mv2.png"
                       class="testimonial-img flex-shrink-0"
                       alt="" />
                  <div>
                    <!-- <h3>consulting</h3> -->
                    <h4>consulting Engineering</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Another success story achieved by Sajdi and partners (Civil
                  Engineering Center) and Pioneers, by completing the
                  implementation of Pioneers HR and Payroll system... (AXALARY
                  totally build over Microsoft Dynamics AX 2012 R3), and the
                  financial and accounting modules within Dynamics AX 2012 R3
                  the HR and payroll implementation includes: Full payroll and
                  personal management system (developed by Pioneers) Self
                  service module through portal (developed by Pioneers) Time
                  sheet management, with state of art labor hours cost
                  calculations (developed by Pioneers) Human resources training
                  assessment need, and training plan Human resources performance
                  appraisals Human resources recruitment cycle automation.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <div class="d-flex align-items-center">
                  <img src="https://static.wixstatic.com/media/bba2f0_244a9b3c3c1f4baf836ee7a7ac560a52~mv2.png"
                       class="testimonial-img flex-shrink-0"
                       alt="" />
                  <div>
                    <!-- <h3>ALamal Hospital</h3> -->
                    <h4>ALamal Hospital</h4>

                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  New success story for Pioneers IT & Business Consulting with
                  Al Amal Maternity Hospital. Al Amal Maternity Hospital
                  considered as one of the most important specialized hospital
                  who offers a range of medical services for Gynecology and IVF
                  in Jordan and serving MENA patients. The Management of the
                  Hospital represented by General Manager Dr. Falah Khalifa and
                  the Board of Directors has chosen Pioneer IT & Business
                  Consulting (Microsoft ERP Gold Partner) to Implement Microsoft
                  Dynamics 2012 Hospital Information System (WeCare) and Human
                  Resources & Payroll system (AXALARY) Al Amal Maternity
                  Hospital plan was to implement ERP, Hospital Information
                  System (WeCare) to integrate all medical department with their
                  procedures from medical point of view and its impact to
                  financial system & human resources system & Payroll system
                  (AXALRY) that fits their requirements such as; organize
                  employee data, standardize HR processes across different
                  business units & increase efficiency and accessibility for
                  employees.

                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->
  <!-- ======= start About US ======= -->

  <section id="helpCenter" class="about sections-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <div class="section-header">
          <h2>How to use our Help Center?</h2>
          <!-- <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem
                    dolore earum</p> -->
        </div>
      </div>

      <div class="row">
        <div class="col-lg-7">
          <p>
            If you are having trouble finding the information you need or have a
            specific question that has not been answered, please visit our help
            center. Our team of experts is available to assist you with any
            issues you may be experiencing. Whether you need help with a product
            or service, or just want to provide feedback, our help center is
            here to support you.
          </p>
          <button onclick="window.location.href='https://127.0.0.1:55763/support/tickets'"
                  class="btn btn-lg"
                  style="background-color: #008593; color: #fff">
            Visit our Help Center
          </button>
        </div>
        <div class="col-lg-4">
          <div class="position-relative">
            <img src="assets/img/about.png"
                 class="img-fluid rounded-4"
                 alt="about" />


            <!--<a
              href="assets/videos/helpcenter.MP4"
              class="glightbox play-btn"
            ></a>-->



          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= End About US ======= -->
  <!-- ======= start About US ======= -->

  <section class="about" id="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <div class="section-header">
          <h2>About Us</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5">
          <img src="assets/img/About-us.jpg"
               alt="about"
               class="img-fluid rounded-4 mb-4"
               width="100%" />
        </div>
        <div class="col-lg-7">
          <p>
            Pioneers IT & Business Consulting was established in 2009, with a
            focus on delivering consulting services to the Jordan market. Within
            one year, we had established ourselves as a top-performing team for
            Microsoft ERP implementation. As we expanded our offerings and
            resources to other markets in the MENA and GCC regions, we have
            successfully implemented ERP systems in Syria, Saudi Arabia, Qatar,
            and UAE. In 2013, we were honored to achieve Golden Partner status
            with Microsoft. In the last six years, we have developed solutions
            for multiple industries, such as Health, Real Estate, HR, and
            Finance, and have grown our customer base to over 35 customers
            throughout the MENA region.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= End About US ======= -->
  <!-- ======= Recent Blog Posts Section ======= -->
  <section id="recent-posts " class="recent-posts sections-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <div class="section-header">
          <h2>Pioneers believe that success is as a result of four causes</h2>
        </div>
      </div>

      <div class="row gy-4">
        <div class="col-xl-3 col-md-6">
          <article>
            <div class="post-img">
              <img src="https://media.istockphoto.com/id/845464808/vector/education-exhange.jpg?s=612x612&w=0&k=20&c=yKekCWddBgv6x46ApslScI_E2rWaClFLIYI1NeTmAds="
                   alt=""
                   class="img-fluid" />
            </div>

            <p class="post-category">Knowledge</p>
            <div class="d-flex align-items-center">
              <!-- <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
              <div class="post-meta">
                <p class="post-author">
                  It is the key stone in any success, and the success road map
                  can’t be created unless a well and detailed knowledge of task
                  subject to delivery is available and effectively employed.
                </p>
              </div>
            </div>
          </article>
        </div>
        <!-- End post list item -->

        <div class="col-xl-3 col-md-6">
          <article>
            <div class="post-img">
              <img src="https://img.freepik.com/free-photo/connection-networking-interconnection-link-bond_53876-125188.jpg"
                   alt=""
                   class="img-fluid" />
            </div>
            <p class="post-category">Experience</p>
            <div class="d-flex align-items-center">
              <div class="post-meta">
                <p class="post-author">
                  It is the arm of professional delivery, and the accumulation
                  of client satisfaction, that support future success as a
                  result of old success stories.
                </p>
              </div>
            </div>
          </article>
        </div>
        <!-- End post list item -->

        <div class="col-xl-3 col-md-6">
          <article>
            <div class="post-img">
              <img src="https://www.ringcentral.com/us/en/blog/wp-content/uploads/2022/02/In-person-team-building.jpg"
                   alt=""
                   class="img-fluid" />
            </div>
            <p class="post-category">Professionalsim</p>
            <div class="d-flex align-items-center">
              <div class="post-meta">
                <p class="post-author">
                  It is the commitment to success, and the cause of qualitative,
                  client specific needs delivery.
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="col-xl-3 col-md-6">
          <article>
            <div class="post-img">
              <img src="https://thumbs.dreamstime.com/b/open-book-infographic-innovation-idea-light-bulb-vector-illustration-concept-can-be-used-layout-banner-web-51357520.jpg"
                   alt=""
                   class="img-fluid" />
            </div>

            <p class="post-category">Innovation</p>
            <div class="d-flex align-items-center">
              <div class="post-meta">
                <p class="post-author">
                  New products, and creative solutions that enhance client
                  competency are success leverage.
                </p>
              </div>
            </div>
          </article>
        </div>
        <!-- End post list item -->
      </div>
      <!-- End post list item row -->
    </div>
    <!-- End recent posts list -->
  </section>
  <!-- End Recent Blog Posts Section -->
  <!-- ======= Stats Counter partner ======= -->

  <section class="about" id="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <div class="section-header">
          <h2>Our Partner</h2>
          <!-- <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem
                      dolore earum</p> -->
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 p-5">
          <img src="../../../assets/img/Partners/Microsoft-Logo.webp"
               alt="about"
               class="img-fluid mb-4"
               width="100%" />
        </div>
        <div class="col-lg-6">
          <p>
            We are proud to work with a diverse group of partners who share our
            commitment to excellence. Together, we strive to deliver the best
            possible products and services to our customers. We are grateful for
            their trust in us and look forward to continuing our successful
            partnerships. .
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="about" id="latestNews">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <div class="section-header">
          <h2>Latest News</h2>
          <!-- Date: Yesterday -->
          
        </div>
      </div>

      <!-- Logo Section -->
      <div class="row">
        <div class="offset-lg-4 col-lg-4" style="text-align: center;">
          <img src="../../../assets/img/Logo/RaneemLogo.jpg"
               alt="about"
               class="img-fluid"
               style="height: 80%; width: 52%; text-align: center;" />
        </div>
      </div>

      <!-- News Description (Arabic) -->
      <div class="row">
        <p class="news-date" style="text-align: right; color: #888; font-size: 0.9em; margin-top: -10px;">
          <i class="bi bi-calendar-event"></i> February 11, 2025
        </p>
        <div class="col-lg-12">
          <p style="text-align: right;">
            قامت شركة الرنيم للخدمات البرمجية، عن طريق فرعها في الرياض، بتقديم الرعاية الذهبية لعشاء التشبيك، لتعزيز الشراكات الاستراتيجية بين
            <span style="font-weight: bolder;">السعودية والأردن</span>
            الذي يجمع نخبة من القيادات وأصحاب القرار من البلدين، والذي نظمته
            <span style="font-weight: bolder;">جمعية انتاج</span>
            بالشراكة مع
            <span style="font-weight: bolder;">مركز الاقتصاد الرقمي السعودي</span>
          </p>
        </div>
      </div>

      <!-- News Description (English) -->
      <div class="row">
        <div class="col-lg-12">
          <p>
            Al-Raneem IT Company, through its branch in Riyadh, provided golden sponsorship for the networking dinner, to strengthen strategic partnerships between
            <span style="font-weight: bolder;">Saudi Arabia and Jordan</span>, which brings together an elite group of leaders and decision-makers from the two countries, and which was organized by the
            <span style="font-weight: bolder;">Intaj Association</span> in partnership with the
            <span style="font-weight: bolder;">Saudi Digital Economy Center</span>
          </p>
        </div>
      </div>

      <!-- Main Image -->
      <div class="row">
        <div class="offset-lg-3 col-lg-6">
          <img src="../../../assets/img/digital_and_intg.jpg"
               alt="about"
               class="img-fluid mb-4"
               width="100%" />
        </div>
      </div>

      <!-- 4 Images Grid -->
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
          <img src="../../../assets/img/News/n2.jpg"
               alt="News Image 1"
               class="img-fluid"
               style="border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" />
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <img src="../../../assets/img/News/n1.jpg"
               alt="News Image 2"
               class="img-fluid"
               style="border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" />
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <img src="../../../assets/img/News/n3.jpg"
               alt="News Image 3"
               class="img-fluid"
               style="border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" />
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <img src="../../../assets/img/News/n4.jpg"
               alt="News Image 4"
               class="img-fluid"
               style="border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
  </section>
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact sections-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <div class="section-header">
          <h2>Contact</h2>
          <!-- <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem
            dolore earum</p> -->
        </div>
      </div>

      <div class="row gx-lg-0 gy-4">
        <div class="col-lg-4">
          <div class="info-container d-flex flex-column align-items-center justify-content-center">
            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Location:</h4>
                <p>Amman</p>
                <p>Riyadh</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <p>{{ "fkarajeh@pioneersconsult.com" }}</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Call:</h4>

                <p>Amman : +962 6 5850727</p>
                <p>Riyadh : +966 56 235 0190</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-clock flex-shrink-0"></i>
              <div>
                <h4>Open Hours:</h4>
                <p>Sat-Thu: 8AM - 5:30PM</p>
              </div>
            </div>
            <!-- End Info Item -->
          </div>
        </div>
        <div class="col-lg-8">
          <form (submit)="sendEmail()" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text"
                       [(ngModel)]="name"
                       name="name"
                       class="form-control"
                       id="name"
                       placeholder="Your Name"
                       required />
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email"
                       [(ngModel)]="email"
                       class="form-control"
                       name="email"
                       id="email"
                       placeholder="Your Email"
                       required />
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text"
                     [(ngModel)]="subject"
                     class="form-control"
                     name="subject"
                     id="subject"
                     placeholder="Subject"
                     required />
            </div>
            <div class="form-group mt-3">
              <textarea [(ngModel)]="message"
                        class="form-control"
                        name="message"
                        rows="7"
                        placeholder="Message"
                        required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit" [disabled]="formSubmitted">
                Send Message
              </button>
            </div>
          </form>
        </div>
        <!-- End Contact Form -->
      </div>
    </div>
  </section>

  <!-- End Contact Section -->
</main>
<!-- End #main -->
