.icon {
  min-width: 48px !important;
  min-height: 48px !important;
}

.service-img {
  height: 25% !important;
  max-width: 70% !important;
  max-height: 25% !important;
  object-fit: fill !important;
  padding-top: 15px;
  padding-bottom: 10px;
}

.services .service-item {
  padding-top: 10px !important;
}

.services .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.service-img-detail {
  height: 25% !important;
  max-height: 25% !important;
  padding: 40px !important;
}

.post-img > img.solution-detail-img {
  padding: 40px !important;
  height: 40% !important;
  width: 40% !important;
  max-height: 40% !important;
  max-width: 40% !important;
  object-fit: cover !important;
}
